.Cards {
  margin: 1rem;
}

.Card {
  margin: 1rem auto;
  min-height: 200px;
  border: thin solid $light;
  display: flex;
  flex-direction: column;


  &-link {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: thin solid $light;
    background-color: $success;
    color: #FFF;

    &:hover {
      background-color: $alert;
      color: #FFF;
    }
  }

  &-image {
    width: 100%;
    height: auto;
    background-color: $medium;

    & img {
      width: inherit;
      height: inherit;
    }
  }

  &-title {
    padding: .5rem;
  }
}

@media screen and (min-width: 64em) {
  .Cards {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Card {
    flex: none;
    width: 32%;

    &-link {

    }

    &-image {
      height: 180px;

      & img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
      }
    }

    &-title {

    }
  }
}
